<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <!--
        <setting name="logImpl" value="STDOUT_LOGGING" />
        -->
    </settings>

    <typeAliases>
        <typeAlias type="com.gs.bean.Admin" alias="admin"/>
        <typeAlias type="com.gs.bean.Customer" alias="customer" />
        <typeAlias type="com.gs.bean.ResourceType" alias="resourceType" />
        <typeAlias type="com.gs.bean.DeviceGroup" alias="deviceGroup" />
        <typeAlias type="com.gs.bean.Resource" alias="resource" />
        <typeAlias type="com.gs.bean.Device" alias="device" />
        <typeAlias type="com.gs.bean.Publish" alias="publish" />
        <typeAlias type="com.gs.bean.Version" alias="version" />
        <typeAlias type="com.gs.bean.PublishPlan" alias="publishPlan" />
    </typeAliases>

    <mappers></mappers>

</configuration>