<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.gs.bean.Admin" alias="admin"/>
        <typeAlias type="com.gs.bean.Customer" alias="customer" />
        <typeAlias type="com.gs.bean.ResourceType" alias="resourceType" />
        <typeAlias type="com.gs.bean.DeviceGroup" alias="deviceGroup" />
    </typeAliases>

    <mappers></mappers>

</configuration>