<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.AdminDAO">

    <resultMap id="adminResultMap" type="admin">
        <id property="id" column="id" />
        <result property="createTime" column="create_time" />
        <result property="lastLoginTime" column="last_login_time" />
    </resultMap>

    <select id="queryById" parameterType="int"
            resultType="admin">
        <![CDATA[
        select * from t_admin where id=#{id}
        ]]>
    </select>

    <select id="query" parameterType="admin" resultType="admin">
        <![CDATA[
        select * from t_admin where email=#{email} and password = #{password} and status = 'Y'
        ]]>
    </select>

    <select id="queryAll" resultType="list" resultMap="adminResultMap">
        <![CDATA[
        select * from t_admin
        ]]>
    </select>

    <select id="queryByPager" resultType="list" resultMap="adminResultMap" parameterType="com.gs.common.bean.Pager">
        <![CDATA[
        select * from t_admin limit #{beginIndex}, #{pageSize}
        ]]>
    </select>

    <select id="count" resultType="int">
        <![CDATA[
        select count(1) from t_admin;
        ]]>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="admin">
        <![CDATA[
        insert into t_admin(id, email, password, name, phone, role) values(uuid(), #{email}, #{password}, #{name}, #{phone}, #{role})
        ]]>
    </insert>

    <update id="inactive" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_admin set status = 'N' where id = #{id}
        ]]>
    </update>

    <update id="active" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_admin set status = 'Y' where id = #{id}
        ]]>
    </update>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="list" parameterType="list">
        <![CDATA[
        insert into t_admin(email, password) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            <![CDATA[
            (#{item.email}, #{item.password})
            ]]>
        </foreach>

    </insert>
</mapper>