<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.CustomerDAO">

    <resultMap id="customerResultMap" type="customer">
        <id property="id" column="id" />
        <result property="createTime" column="create_time" />
        <result property="lastLoginTime" column="last_login_time" />
        <result property="loginTime" column="login_time" />
        <result property="lastUpdateTime" column="last_update_time" />
        <result property="checkPwd" column="check_pwd" />
    </resultMap>

    <select id="queryById" parameterType="string" resultMap="customerResultMap">
        <![CDATA[
        select * from t_customer where id=#{id}
        ]]>
    </select>

    <select id="query" parameterType="customer" resultMap="customerResultMap">
        <![CDATA[
        select * from t_customer where email=#{email} and password = #{password} and status = 'Y'
        ]]>
    </select>

    <select id="queryAll" resultType="list" resultMap="customerResultMap">
        <![CDATA[
        select * from t_customer
        ]]>
    </select>

    <select id="queryByPager" resultType="list" resultMap="customerResultMap" parameterType="com.gs.common.bean.Pager">
        <![CDATA[
        select * from t_customer limit #{beginIndex}, #{pageSize}
        ]]>
    </select>

    <select id="queryByPagerAndCriteria" resultType="list" resultMap="customerResultMap">
        <![CDATA[
        select * from t_customer where 1 = 1
        ]]>
        <if test="customer.email != null and customer.email != ''">
            and email like concat('%', #{customer.email}, '%')
        </if>
        <if test="customer.name != null and customer.name !=''">
            and name like concat('%', #{customer.name}, '%')
        </if>
        <if test="customer.phone != null and customer.phone !=''">
            and phone like concat('%', #{customer.phone}, '%')
        </if>
        <if test="customer.status != null and customer.status != ''">
            and status = #{customer.status}
        </if>
        order by status desc, create_time desc
        limit #{pager.beginIndex}, #{pager.pageSize}

    </select>
    <select id="countByCriteria" resultType="int">
        <![CDATA[
        select count(1) from t_customer where 1 = 1
        ]]>
        <if test="customer.email != null and customer.email != ''">
            and email like concat('%', #{customer.email}, '%')
        </if>
        <if test="customer.name != null and customer.name !=''">
            and name like concat('%', #{customer.name}, '%')
        </if>
        <if test="customer.phone != null and customer.phone !=''">
            and phone like concat('%', #{customer.phone}, '%')
        </if>
        <if test="customer.status != null and customer.status != ''">
            and status = #{customer.status}
        </if>
    </select>

    <select id="queryCheckPwdByEmail" parameterType="string" resultType="string">
        <![CDATA[
        select check_pwd from t_customer where email = #{email}
        ]]>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="customer">
        <![CDATA[
        insert into t_customer(id, email, password, check_pwd, name, phone, address, company) values(uuid(), #{email}, #{password}, #{checkPwd}, #{name}, #{phone}, #{address}, #{company})
        ]]>
    </insert>

    <update id="updateLoginTime" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_customer set last_login_time = login_time, login_time = CURRENT_TIMESTAMP where id = #{id}
        ]]>
    </update>

    <update id="update" keyProperty="id" parameterType="customer">
        <![CDATA[
        update t_customer set name = #{name}, phone = #{phone}, address = #{address}, company = #{company}, last_update_time = CURRENT_TIMESTAMP where id = #{id}
        ]]>
    </update>

    <update id="updatePassword" keyProperty="id" parameterType="customer">
        <![CDATA[
        update t_customer set password = #{password} where id = #{id}
        ]]>
    </update>

    <update id="updateCheckPwd" keyProperty="id" parameterType="customer">
        <![CDATA[
        update t_customer set check_pwd = #{checkPwd} where id = #{id}
        ]]>
    </update>

    <update id="inactive" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_customer set status = 'N' where id = #{id}
        ]]>
    </update>

    <update id="active" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_customer set status = 'Y' where id = #{id}
        ]]>
    </update>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="list" parameterType="list">
        <![CDATA[
        insert into t_customer(email, password) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            <![CDATA[
            (#{item.email}, #{item.password})
            ]]>
        </foreach>

    </insert>
</mapper>