<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.DeviceDAO">

    <resultMap id="deviceResultMap" type="device">
        <id property="id" column="id" />
        <result property="deviceGroupId" column="device_group_id" />
        <result property="busNo" column="bus_no" />
        <result property="busPlateNo" column="bus_plate_no" />
        <result property="des" column="des" />
        <result property="installTime" column="install_time" />
        <result property="createTime" column="create_time" />
        <result property="status" column="status" />
        <result property="online" column="online" />
        <result property="versionId" column="version_id" />
        <result property="code" column="code" />
        <result property="driver" column="driver" />
        <result property="phone" column="phone" />
        <result property="adsUpdateTime" column="ads_update_time" />
        <result property="onlineTime" column="online_time" />
        <result property="offlineTime" column="offline_time" />
        <association property="deviceGroup" javaType="com.gs.bean.DeviceGroup">
            <id property="id" column="g_id"/>
            <result property="name" column="g_name"/>
        </association>
        <association property="version" javaType="com.gs.bean.Version">
            <id property="id" column="v_id" />
            <result property="name" column="v_name" />
        </association>
    </resultMap>

    <select id="queryByCode" parameterType="string" resultMap="deviceResultMap">
        <![CDATA[
        select * from t_device where code=#{code}
        ]]>
    </select>

    <select id="queryByCodeNotSelf" resultType="list" resultMap="deviceResultMap">
        <![CDATA[
        select * from t_device where code=#{device.code} and id != #{device.id}
        ]]>
    </select>

    <select id="queryByPagerAndCustomerId" resultType="list" resultMap="deviceResultMap">
        <![CDATA[
        select d.*, dg.id as g_id, dg.name as g_name from t_device d, t_device_group dg where d.customer_id = #{customerId} and d.device_group_id = dg.id limit #{pager.beginIndex}, #{pager.pageSize}
        ]]>
    </select>

    <select id="queryByPagerAndCriteria" resultType="list" resultMap="deviceResultMap">
        <![CDATA[
        select d.*, dg.id as g_id, dg.name as g_name, v.id as v_id, v.name as v_name from t_device d, t_device_group dg, t_version v where d.customer_id = #{customerId} and d.device_group_id = dg.id and d.version_id = v.id
        ]]>
        <if test="device.code != null and device.code != ''">
            and d.code like concat('%', #{device.code}, '%')
        </if>
        <if test="device.busPlateNo != null and device.busPlateNo != ''">
            and d.bus_plate_no like concat('%', #{device.busPlateNo}, '%')
        </if>
        <if test="device.deviceGroupId != null and device.deviceGroupId != ''">
            and d.device_group_id = #{device.deviceGroupId}
        </if>
        <if test="device.status != null and device.status != ''">
            and d.status = #{device.status}
        </if>
        <if test="device.online != null and device.online !=''">
            and d.online = #{device.online}
        </if>
        <if test="device.versionId != null and device.versionId != ''">
            and d.version_id = #{device.versionId}
        </if>
        order by d.code
        limit #{pager.beginIndex}, #{pager.pageSize}

    </select>

    <select id="queryByDeviceId" resultType="string" parameterType="string">
        <![CDATA[
        select device_group_id from t_device where id = #{deviceId};
        ]]>
    </select>

    <select id="queryByGroupIdAndVersionId" resultType="list" resultMap="deviceResultMap">
        <![CDATA[
        select id from t_device where device_group_id = #{groupId} and version_id = #{versionId};
        ]]>
    </select>

    <select id="queryByCustomerIdAndVersionId" resultType="list" resultMap="deviceResultMap">
        <![CDATA[
        select id from t_device where customer_id = #{customerId} and version_id = #{versionId};
        ]]>
    </select>

    <select id="countByCriteria" resultType="int">
        <![CDATA[
        select count(1) from t_device where customer_id = #{customerId}
        ]]>
        <if test="device.code != null and device.code != ''">
            and code like concat('%', #{device.code}, '%')
        </if>
        <if test="device.busPlateNo != null and device.busPlateNo != ''">
            and bus_plate_no like concat('%', #{device.busPlateNo}, '%')
        </if>
        <if test="device.deviceGroupId != null and device.deviceGroupId != ''">
            and device_group_id = #{device.deviceGroupId}
        </if>
        <if test="device.status != null and device.status != ''">
            and status = #{device.status}
        </if>
        <if test="device.online != null and device.online !=''">
            and online = #{device.online}
        </if>
        <if test="device.versionId != null and device.versionId != ''">
            and version_id = #{device.versionId}
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="device">
        <![CDATA[
        insert into t_device(id, code, version_id, device_group_id, driver, phone, bus_no, bus_plate_no, des, customer_id, install_time, create_time)
        values(uuid(), #{code}, #{versionId}, #{deviceGroupId}, #{driver}, #{phone}, #{busNo}, #{busPlateNo}, #{des}, #{customerId}, #{installTime}, CURRENT_TIMESTAMP)
        ]]>
    </insert>

    <update id="update" keyProperty="id" parameterType="device">
        <![CDATA[
        update t_device set code = #{code}, device_group_id = #{deviceGroupId}, driver = #{driver}, phone = #{phone}, bus_no = #{busNo}, bus_plate_no = #{busPlateNo}, des = #{des}, install_time = #{installTime} where id = #{id}
        ]]>
    </update>

    <update id="inactive" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_device set status = 'N' where id = #{id}
        ]]>
    </update>

    <update id="active" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_device set status = 'Y' where id = #{id}
        ]]>
    </update>

    <update id="updateStatus" keyProperty="id" parameterType="device">
        <![CDATA[
        update t_device set online = #{online},
        ]]>
        <if test="onlineTime != null">
            online_time = #{onlineTime}
        </if>
        <if test="offlineTime != null">
            offline_time = #{offlineTime}
        </if>
        where code = #{code}
    </update>

    <update id="updatePublishTime" keyProperty="id" parameterType="device">
        <![CDATA[
        update t_device set ads_update_time = #{adsUpdateTime} where code = #{code}
        ]]>
    </update>

</mapper>