<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.ResourceTypeDAO">

    <resultMap id="resourceTypeResultMap" type="resourceType">
        <id property="id" column="id" />
        <result property="showDetailSetting" column="show_detail_setting" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <select id="queryById" parameterType="string" resultMap="resourceTypeResultMap">
        <![CDATA[
        select * from t_resource_type where id=#{id}
        ]]>
    </select>

    <select id="queryAll" resultType="list" resultMap="resourceTypeResultMap">
        <![CDATA[
        select * from t_resource_type
        ]]>
        <if test="status != null and status !=''">
            where status = #{status}
        </if>
    </select>

    <select id="queryByPager" resultType="list" resultMap="resourceTypeResultMap" parameterType="com.gs.common.bean.Pager">
        <![CDATA[
        select * from t_resource_type order by status desc, create_time desc limit #{beginIndex}, #{pageSize}
        ]]>
    </select>

    <select id="count" resultType="int">
        <![CDATA[
        select count(1) from t_resource_type;
        ]]>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="resourceType">
        <![CDATA[
        insert into t_resource_type(id, name, extension, des, show_detail_setting, create_time) values(uuid(), #{name}, #{extension}, #{des}, #{showDetailSetting}, CURRENT_TIMESTAMP )
        ]]>
    </insert>

    <update id="update" keyProperty="id" parameterType="resourceType">
        <![CDATA[
        update t_resource_type set name = #{name}, extension = #{extension}, des = #{des}, show_detail_setting = #{showDetailSetting} where id = #{id}
        ]]>
    </update>

    <update id="inactive" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_resource_type set status = 'N' where id = #{id}
        ]]>
    </update>

    <update id="active" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_resource_type set status = 'Y' where id = #{id}
        ]]>
    </update>

</mapper>