<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.dao.VersionDAO">

    <resultMap id="versionResultMap" type="version">
        <id property="id" column="id" />
        <result property="areaCount" column="area_count" />
        <result property="ofileName" column="ofile_name" />
        <result property="fileName" column="file_name" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <select id="queryById" parameterType="string" resultMap="versionResultMap">
        <![CDATA[
        select * from t_version where id=#{id}
        ]]>
    </select>

    <select id="queryAll" resultType="list" resultMap="versionResultMap">
        <![CDATA[
        select * from t_version
        ]]>
        <if test="status != null and status !=''">
            where status = #{status}
        </if>
    </select>

    <select id="queryByCustomerAndGroupById" parameterType="string" resultType="list" resultMap="versionResultMap">
        <![CDATA[
        select v.* from t_device d, t_version v where d.customer_id = #{customerId} and d.version_id = v.id group by v.id
        order by v.status desc, v.create_time desc
        ]]>
    </select>

    <select id="queryByPagerAndCriteria" resultType="list" resultMap="versionResultMap">
        <![CDATA[
        select * from t_version where 1 = 1
        ]]>
        <if test="version.name != null and version.name != ''">
            and name = #{version.name}
        </if>
        <if test="version.status != null and version.status != ''">
            and status = #{version.status}
        </if>
        order by status desc, create_time desc
        limit #{pager.beginIndex}, #{pager.pageSize}

    </select>

    <select id="countByCriteria" resultType="int">
        <![CDATA[
        select count(1) from t_version where 1 = 1
        ]]>
        <if test="version.name != null and version.name != ''">
            and name like concat('%', #{version.name}, '%')
        </if>
        <if test="version.status != null and version.status != ''">
            and status = #{version.status}
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="version">
        <![CDATA[
        insert into t_version(id, name, area_count, path, full_path, ofile_name, file_name, des, create_time)
        values(uuid(), #{name}, #{areaCount}, #{path}, #{fullPath}, #{ofileName}, #{fileName}, #{des}, CURRENT_TIMESTAMP)
        ]]>
    </insert>

    <update id="update" keyProperty="id" parameterType="version">
        <![CDATA[
        update t_version set name = #{name}, area_count = #{areaCount},
        ]]>
        <if test="path != null ">
            path = #{path},
        </if>
        <if test="fullPath != null">
            full_path = #{fullPath},
        </if>
        <if test="ofileName != null">
            ofile_name = #{ofileName},
        </if>
        <if test="fileName != null">
            file_name = #{fileName},
        </if>
        des = #{des} where id = #{id}
    </update>

    <update id="inactive" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_version set status = 'N' where id = #{id}
        ]]>
    </update>

    <update id="active" keyProperty="id" parameterType="string">
        <![CDATA[
        update t_version set status = 'Y' where id = #{id}
        ]]>
    </update>

</mapper>